<h1>My Trips</h1>

<br>
<br>

<% if @trips.count > 0 %>
  <% @trips.each do |trip| %>
    <ul>
      <div class="trip">
        <li>
          <%= link_to trip.name, user_trip_path(current_user.id, trip.id) %> | Start Date: <%= trip.start_date %>
        </li>
      </div>
    </ul>
  <% end %>
<% else %>
  <div class="">
    <%= link_to "Create Trip", new_trip_path %>
  </div>
<% end %>

<br>
<br>

<div>
  <h3>View by:</h3>
    <%= form_tag("/trips", method: "get") do %>
      <%= select_tag "status", options_for_select(["Past", "Upcoming"]), include_blank: true %>
    <%= submit_tag "Filter" %>
    <% end %>
</div>

<!-- <div>

  <h3>Find by Name:</h3>
  <%= form_tag("/trips", method: "get") do %>
  <%= text_field_tag :name, params[:name] %>
  <%= submit_tag 'Search' %>
<% end %>

</div> -->

<div>
  <h3>Find by Name:</h3>
  <%= form_tag("/trips", method: "get") do %>
    <%= select_tag "name", options_from_collection_for_select(Trip.where(user: current_user), "name", "name"), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>
