<div class="links">
    <a href="#" class="js-next" data-id="<%=@trip.id%>">Next Trip</a>
</div>

<h1 class="tripName"><%= @trip.name %></h1>
<h3 class="tripDuration"><%= @trip.duration %></h3>
<h3 class="tripStartdate"><%= @trip.start_date %></p>

<script type="text/javascript" charset="utf-8">

$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/trips/" + nextId + ".json", function(data) {
        var trip = data

        $(".tripName").text(trip["name"]);
        $(".tripDuration").text(trip["duration"]);
        $(".tripStartdate").text(trip["start_date"]);

    });
  });
});

</script>


<!-- <div class="">
  <h2>Packing List</h2>

  <% if @trip.items.count > 0 %>
    <ul>
      <% @trip.items.each do |item| %>
        <li><%= item.name %> </li>
      <% end %>
    </ul>
  <% end %>
</div>

<br>

<div class="">
  <%= form_for ([current_user, @trip]) do |f| %>
    <h4><%= f.label "Is this Trip Complete?" %></h4>
    <%= f.check_box :status, options = {:onChange => "javascript: this.form.submit();"}, checked_value = "1", unchecked_value = "0" %>
  <% end %>
</div>
<br>

<div class="">
  <%= link_to 'Edit', edit_trip_path(@trip) %> | <%= link_to "Delete", @trip, method: :delete %>
</div> -->

<!-- <br>
<hr>
<h3>Your other trips</h3>
<% current_user.trips.each do |trip| %>
  <% if trip != @trip %>
    <a href="/trips/<%= trip.id %>/data.json"><%= trip.name %></a>
  <% end %>
<% end %> -->
