<div class="links">
    <a href="/trips/<%= @trip.next_id %>" class="js-next">Next Trip</a>
</div>

<h1 class="tripName"><%= @trip.name %></h1>
<h3 class="tripDuration"><%= @trip.duration %></h3>
<h3 class="tripStartdate"><%= @trip.start_date %></p>

<div class="">
  <%= link_to 'Edit', edit_trip_path(@trip) %> | <%= link_to "Delete", @trip, method: :delete %>
</div>

<br>

<h2>Packing List</h2>

<ul class="tripItems">
    <% if @trip.items.count > 0 %>
        <% @trip.items.each do |item| %>
          <li><%= item.name %> </li>
        <% end %>
     <% else %>
         <li>Add Items to List</li>
    <% end %>
</ul>

<br>

<%= form_for @trip do |f| %>
      <% 1.times.each do %>
        <%= f.fields_for :items, @trip.items.build do |trip_fields| %>
          <%= trip_fields.text_field :name %><br>
        <% end %>
      <% end %>
    <%= f.submit 'Add Item', data: {disable_with: false} %>
<% end %>

<!-- <br>

<div class="">
  <%= form_for ([current_user, @trip]) do |f| %>
    <h4><%= f.label "Is this Trip Complete?" %></h4>
    <%= f.check_box :status, options = {:onChange => "javascript: this.form.submit();"}, checked_value = "1", unchecked_value = "0" %>
  <% end %>
</div> -->
