<h1>Log In</h1>


<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

  <br>

<%= form_for(:session, url: login_path) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <br>

  <%= f.submit "Log in"%>
<% end %>

<div class="links">
  <br>
  <div>
    <%= link_to('Login via Github', '/auth/github') %>
  </div>
  <br>
  <div>
    <%= link_to "Create Account", signup_path %>
  </div>
</div>
