<h1><%= @packing_list.name %></h1>

<!-- packing_list_items_path(@packing_list) -->
<%= form_for([@packing_list, @packing_list_item]) do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<ul>
  <% @packing_list.packing_list_items.each do |item| %>
    <li>
      <%= item.name %>
    </li>
  <% end %>
</ul>
