<!DOCTYPE html>
<html>
  <head>
    <title>PackIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
        <%= link_to "Log out", logout_path, method: :delete %>
    <% elsif !on_login_page? %>
        <li><%= link_to "Log in", login_path %></li>
    <% end %>

    <%= yield %>
  </body>
</html>
